# 数据清洗可能用到的步骤清单

## 清除空值

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = {'a': [1, 2, 3, 4], 'b': [1, np.nan, 2, 2]}
df = pd.DataFrame(df)
df

   a    b
0  1  1.0
1  2  NaN
2  3  2.0
3  4  2.0

In [6]:
df.dropna(inplace=True)
df

   a    b
0  1  1.0
2  3  2.0
3  4  2.0